fastapi
uvicorn
websockets
sqlalchemy
psycopg2-binary
PyJWT
passlib[bcrypt]
bcrypt==3.2.0
pydantic
zeroconf
python-dotenv
cryptography
python-multipart
orjson
apscheduler
psutil>=5.9.0
pytz
pydantic[email]
pandas
openpyxl
natsort
pytest>=7.0.0
httpx
nuitka
zstandard
defusedcsv
